[submodule "framework"]
	path = vipr-framework
	url = https://codebase.helmholtz.cloud/vipr/vipr-framework.git
[submodule "core"]
	path = vipr-core
	url = https://codebase.helmholtz.cloud/vipr/vipr-core.git
[submodule "api"]
	path = vipr-api
	url = https://codebase.helmholtz.cloud/vipr/vipr-api.git
[submodule "frontend"]
	path = vipr-frontend
	url = https://codebase.helmholtz.cloud/vipr/vipr-frontend.git
[submodule "reflectometry-plugin"]
	path = vipr-reflectometry-plugin
	url = https://codebase.helmholtz.cloud/vipr/vipr-reflectometry-plugin
